body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.char {
  margin: 8px;
}

.space {
  width: 20px;
}

.char path {
  /* stroke-dasharray: 1000;
  stroke-dashoffset: 0; */
}

.heart {
  position: absolute;
  margin-top: -300px;
}

#left-heart {
  margin-left: -410px;
}

.emptyChar {
  width: 110px;
}
